$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}


md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}
.tb-sidebar-link ng-md-icon {
  fill: #737373;
}
.user-avatar {
  border-radius: 99%;
}

.tb-toolbar-box h3{
    margin-bottom: 0;
    margin-top: 8px;
}

.tb-toolbar-box h4{
    margin-top: 0
}

.tb-sidebar-link{
    text-decoration: none;
    color: #737373;
}

.tb-toolbar-bg {
    background: url('../images/ny.jpg') !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}


 #places md-toolbar{
    min-height: inherit;
  }
      #map {
    position:relative;
    overflow: hidden;
 
}
img {max-width: initial !important;}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
.places_list {
  padding-top: 0;
}

.mdl-grid {
    max-width: 400px;
}
.mdl-card__media {
    margin: 0;
}
.mdl-card__media > img {
    max-width: 100%;
}
.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}


.mdl-card__supporting-text {
  padding: 0 16px !important;
}

.mdl-card__supporting-text p {
  font-size: 12px;
}

.mdl-card__title h1 {
  font-size: 18px !important;
}

.map_box {
  position: relative;
}

#floating-panel {
      
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
md-fab-speed-dial {
      position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10000000;
}

.menu_action_buttons .md-fab {
 fill: :#64aadc;
}

md-bottom-sheet {
  position: fixed;
}

#notes .mdl-card {min-height: auto !important}