<md-content ng-controller="notesCtrl" layout-fill layout="column" id="notes">  <!-- ng-init="readyMap()" -->
     
  <div layout="row" style="height:116px;">
   <md-content layout="column" flex="100">
  
       <md-content layout="row" style="height:70px;" ng-show="!showSearch" >
          <md-toolbar flex="100" layout="column" ng-show="!showSearch">
            <div class="md-toolbar-tools">
              <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
              </md-button>
              <h3>
                Notatki
              </h3>
              <span flex></span>
              <md-button aria-label="Szukaj" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
              </md-button>
            </div>
          </md-toolbar>
        </md-content>

         <md-content layout="row" style="height:116px;" ng-show="showSearch">
          <md-toolbar class="md-hue-1" ng-show="showSearch" flex="100" layout="column">
            <div class="md-toolbar-tools" layout="row" flex="100">
              
              <md-button ng-click="showSearch = !showSearch" aria-label="Cofnij">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
              </md-button>
              
              <h3>Cofnij</h3>
              <span layout="row" flex="5"></span>
              <md-input-container md-theme="input" layout="row" flex="95">
                <label>&nbsp;</label>
                <input ng-model="search.who" placeholder="szukaj">
              </md-input-container>

              <md-button aria-label="Szukaj" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
              </md-button>

           </div>
          </md-toolbar>
        </md-content>

         <md-content layout="row" style="height:60px;" ng-show="!showSearch">
          <md-toolbar layout="column" class="md-hue-1">
              <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-href="#places" name="places">Ostatnie miejsca</md-nav-item>
                <md-nav-item md-nav-href="#notes" name="notes">Notatki</md-nav-item>  
              </md-nav-bar>
           </md-toolbar>
          </md-content>

      </md-content>
  </div>
 
  <div layout="row" style="height:100%">
    <div layout="column" flex="75" hide show-gt-sm ng-cloak class="map_box">
     <md-button class="md-fab md-fab-bottom-right" aria-label="Dodaj notatkę" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>  
      <md-content layout="column" flex="100" id="map_notes"></md-content>
    </div>



    <div flex class="md-whiteframe-z2" layout="column">
      <md-content layout="column" layout="column" flex="100">

         <div id="floating-panel">
      <input id="address" type="textbox" value="Kraków, Radzikowskiego">
      <input id="submit" type="button" value="Geocode">
    </div>
 <div id="info_box" ng-show="info_box">
<input ng-model="marker_info.name" />
<input ng-model="marker_info.description" />
<input id="ok" value="ok" type="button" />
<input id="del" value="del" type="button" />
<input ng-model="marker_info.id" type="number">
<br> 
<input id="save" value="save" type="button" />
</div>
 
           
               

         
      </md-content>
  </div>
</md-content>