<md-content ng-controller="placesCtrl" layout-fill layout="column" id="places">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-lg aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>{{page_title}}</h3>
        </div>
    </md-toolbar>
    <md-content layout="row" flex="100" ng-cloak>
        <md-content layout="column" flex id="map"></md-content>
        <md-sidenav layout="column" flex class="md-whiteframe-z2 md-sidenav-right" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
            <div class="mdl-layout mdl-js-layout mdl-color--grey-100" hide-sm hide-xs>
                <main class="mdl-layout__content">
                    <div class="mdl-grid" ng-repeat="marker in markers">
                        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
                            <figure class="mdl-card__media">
                                <img src="{{marker.thumbnail}}" alt="" />
                            </figure>
                            <div class="mdl-card__title">
                                <h1 class="mdl-card__title-text">{{marker.title}}</h1>
                            </div>
                            <div class="mdl-card__supporting-text">
                                <p ng-bind-html="marker.excerpt"></p>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="showPlaceInfo(marker.id)">Zobacz wpis</a>
                                <div class="mdl-layout-spacer"></div>
                                <button ng-disabled="marker.isposition" class="mdl-button mdl-button--icon mdl-button--colored" ng-click="openInfoWindow($event, marker)"><i class="material-icons">pin_drop</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </md-sidenav>
    </md-content>
</md-content>