  <div ng-controller="placesCtrl">
      <md-button class="md-fab md-fab-bottom-right" aria-label="Dodaj notatkę" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
      </md-button>
      <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
          </md-button>
          <h3>
            Miejsca
          </h3>
          <span flex></span>
          <md-button aria-label="Szukaj" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>
          
        </div>
         <md-content class="md-padding">
          <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-href="#places" name="places">Ostatnie miejsca</md-nav-item>
            <md-nav-item md-nav-href="#notes" name="notes">Notatki</md-nav-item>  
          </md-nav-bar>
        </md-content>
      </md-toolbar>
      <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="showSearch = !showSearch" aria-label="Cofnij">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
          </md-button>
          <h3 flex="10">
            Cofnij
          </h3>
          <md-input-container md-theme="input" flex>
            <label>&nbsp;</label>
            <input ng-model="search.who" placeholder="szukaj">
          </md-input-container>
          <md-button aria-label="Szukaj" ng-click="showSearch = !showSearch">
            <ng-md-icon icon="search"></ng-md-icon>
          </md-button>

        </div>
       
      </md-toolbar>
      <md-content flex md-scroll-y>
     

            <md-content flex>

              <md-list>

                <md-list-item class="md-3-line" ng-repeat="place in places" ng-href="#place/{{place.id}}">
                  <img ng-src="{{place.thumbnail_images.thumbnail.url}}" alt="{{place.featured_media}}" class="md-avatar">

                  <div class="md-list-item-text">
                   
                    <h3>{{place.title}}</h3>
                    <h4>{{place.date}}</h4>

                    <p ng-bind-html="place.excerpt">
                     
                    </p>
                  </div>
                  <md-divider inset></md-divider>
                </md-list-item>

              </md-list>

            </md-content>
 
      </md-content>
    </div>
